.l-footer {
  padding: 14px 32px;
  background-color: #F6F6F6;

  &__image {
    width: 12%;
  }

  &__desc {
    color: #777;
    font-size: 16px;
  }

  &__copyright {
    color: #9F9F9F;
    font-size: 14px;
  }
}